apiVersion: apps/v1
kind: Deployment
metadata:
  name: elasticsearch-operator
  labels:
spec:
  selector:
    matchLabels:
  replicas: 1
  template:
    metadata:
      labels:
    spec:
      nodeSelector:
        kubernetes.io/os: linux
      serviceAccountName: elasticsearch-operator
      containers:
      - command:
        - elasticsearch-operator
        ports:
        - containerPort: 8080
          name: http
        image: quay.io/openshift/origin-elasticsearch-operator:latest
        name: elasticsearch-operator
        imagePullPolicy: IfNotPresent
        resources: {}
        env:
          - name: WATCH_NAMESPACE
            valueFrom:
              fieldRef:
                fieldPath: metadata.annotations['olm.targetNamespaces']
          - name: POD_NAME
            valueFrom:
              fieldRef:
                fieldPath: metadata.name
          - name: OPERATOR_NAME
            value: "elasticsearch-operator"
          - name: PROXY_IMAGE
            value: "quay.io/openshift/origin-oauth-proxy:latest"
          - name: ELASTICSEARCH_PROXY
            value: "quay.io/openshift/origin-elasticsearch-proxy:latest"
          - name: ELASTICSEARCH_IMAGE
            value: "quay.io/openshift/origin-logging-elasticsearch6:latest"
          - name: KIBANA_IMAGE
            value: "quay.io/openshift/origin-logging-kibana6:latest"
